a:hover{
    color: blanchedalmond;
    background-color: black;
}
a:visited{
    color:red;
    
}
img{
    padding:20px;
    background-color: bisque;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
body{
    background-image: url("images/curtains.jpg");
    background-size: cover;
    
}
h1{
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    text-align: center;
}
ul{
    text-align: center;
    list-style-position: inside;
}